@import url("leaflet/dist/leaflet.css");
@import "tailwindcss";

:root {
  --custom-green: #0abf53;
  --custom-black: #00112c;
  --custom-white: #f7f7f8;
  --bg-contrast: #f2f7fa;
  --success-green: #00bcd4;
  --warning-orange: #ff9800;
  --error-red: #f44336;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
